* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

main {
    height: 100vh;
}

.flex {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.palette {
    display: flex;  
    gap: 16px;
}

.viz, .palette {
    margin-top: 16px;
}

.color-box {
    display: flex;
    flex-direction: column;
}

.color-box .card-title {
    align-self: center;
    font-weight: 700;
}

.color-box .color-card {
    border: 1px solid rgb(95, 66, 66);
    height: 350px;
    width: 180px;
    border-radius: 12px;
    margin-top: 6px;
}

.controls {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.controls button {
    cursor: pointer;
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.viz {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.viz-card {
    border: 1px solid rgb(95, 66, 66);
    padding: 24px;
    border-radius: 12px;
}

.viz-row {
    display: flex;
    gap: 26px;
}

.wcag {
    display: flex;
    gap: 26px;
    margin-top: 26px;
}