* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

body {
    font-size: 1rem;
}

main {
    height: 100vh;
}

.flex {
    display: flex;  
    flex-wrap: wrap;
    height: 100%;
}

.panel {
    flex: 1;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 80px;
    min-width: 468px;
}

.label {
    color: #2f2820;
}

.color-palette {
    position: relative;
    background-color: #e1e1e1;  
}

.color-palette::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.2;
    background-image: url(images/CA_Illustration-1.png);
    background-size: 120%;
    background-position: 160% 100%; 
    background-repeat: no-repeat;
    z-index: 0;
}

.color-palette > * {
    position: relative;
    z-index: 1;
}

.visualization {
    background-color: #f1eee9;
    
}

.palette {
    display: flex;  
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.viz, .palette {
    margin-top: 16px;
}   

.color-box {
    display: flex;
    flex-direction: column;
}

.color-box .card-title {
    align-self: center;
    font-weight: 700;
}

.color-box .color-card {
    border: 1px solid rgb(95, 66, 66);
    height: 380px;
    width: 200px;
    border-radius: 16px;
    margin-top: 6px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 120px;
    gap: 14px;
}

.checkbox {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.checkbox input {
  appearance: none;
  -webkit-appearance: none;

  width: 18px;
  height: 18px;
  border: 2px solid #555;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.checkbox input:checked {
  background-color: #ffffff;
  border-color: #000000;
}

.checkbox input:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.controls button {
    cursor: pointer;
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #ca5c5b;
    color: #ffffff;
    font-weight: 300;
    user-select: none;
}

.viz {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.viz-card {
    border: 1px solid rgb(95, 66, 66);
    padding: 24px;
    border-radius: 16px;
}

.viz-row {
    display: flex;
    gap: 26px;
}

.wcag {
    display: flex;
    gap: 30px;
    margin-top: 26px;
}

.wcag-label {
    color: #a39e9a;
}

.result-container {
    display: flex;
    gap: 30px;
}

@media (max-width: 768px) {
    .viz-row {
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 1.0625rem; /* 17px */
    }
}

@media (min-width: 1440px) {
    body {
        font-size: 1.125rem; /* 18px */
    }
}